<mat-nav-list>
  <h3 matSubheader>Alimentos</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/alimentos/listar">
    Consultar
  </a>
  <a mat-list-item routerLinkActive="active-link" routerLink="/alimentos/detalle">
    Agregar/Modificar Alimentos
  </a>
  <h3 matSubheader>Dietas</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/dietas/nuevo">
    Nueva Dieta
  </a>
  <h3 matSubheader>Pacientes</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/pacientes/listar">
    Ver todos los Pacientes
  </a>
  <h3 matSubheader>Administracion</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/administracion">
    Parametrizaciones
  </a>
  <a mat-list-item routerLinkActive="active-link" routerLink="/ayuda">
    Ayuda
  </a>
</mat-nav-list>
